<mat-toolbar color="primary">
	<span>Anindyo Choudhury</span>
	<span class="example-spacer"></span>
  <button mat-mini-fab class="margin-4-px" color="primary" matTooltip="Home" aria-label="Home button">
    <mat-icon aria-hidden="false" aria-label="Home icon">
      home
    </mat-icon>
  </button>
  <button mat-mini-fab class="margin-4-px" color="primary" matTooltip="Experience" aria-label="Experience button">
    <mat-icon aria-hidden="false" aria-label="Experience icon">
      work
    </mat-icon>
  </button>
  <button mat-mini-fab class="margin-4-px" color="primary" matTooltip="Skilla" aria-label="Skills button">
    <mat-icon aria-hidden="false" aria-label="Skills icon">
      military_tech
    </mat-icon>
  </button>
  <button mat-mini-fab class="margin-4-px" color="primary" matTooltip="Achievements" aria-label="Achievements button">
    <mat-icon aria-hidden="false" aria-label="Achievements icon">
      emoji_events
    </mat-icon>
  </button>
  <button mat-mini-fab class="margin-4-px" color="primary" matTooltip="Education" aria-label="Education button">
    <mat-icon aria-hidden="false" aria-label="Education icon">
      school
    </mat-icon>
  </button>
</mat-toolbar>