<mat-toolbar color="primary">
	<!-- <span>Anindyo Choudhury</span> -->
  <button mat-mini-fab class="margin-4-px" color="primary" routerLink="/home" matTooltip="Home" aria-label="Home button">
    AC
  </button>
	<span class="example-spacer"></span>
  <button mat-mini-fab class="margin-4-px" color="primary" routerLink="/home" matTooltip="Home" aria-label="Home button">
    <mat-icon aria-hidden="false" aria-label="Home icon">
      home
    </mat-icon>
  </button>
  <button mat-mini-fab class="margin-4-px" color="primary" routerLink="/experience" matTooltip="Experience" aria-label="Experience button">
    <mat-icon aria-hidden="false" aria-label="Experience icon">
      work
    </mat-icon>
  </button>
  <button mat-mini-fab class="margin-4-px" color="primary" routerLink="/skills" matTooltip="Skills" aria-label="Skills button">
    <mat-icon aria-hidden="false" aria-label="Skills icon">
      military_tech
    </mat-icon>
  </button>
  <button mat-mini-fab class="margin-4-px" color="primary" routerLink="/achievements" matTooltip="Achievements" aria-label="Achievements button">
    <mat-icon aria-hidden="false" aria-label="Achievements icon">
      emoji_events
    </mat-icon>
  </button>
  <button mat-mini-fab class="margin-4-px" color="primary" routerLink="/education" matTooltip="Education" aria-label="Education button">
    <mat-icon aria-hidden="false" aria-label="Education icon">
      school
    </mat-icon>
  </button>
</mat-toolbar>